* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  outline: none;
}
body,html {
  margin: 0;
  padding: 0;
  color: #fff;
  // background-color: black;
  // background: linear-gradient(70deg, white, #F69100, #1E2092, #000);
  background-color: white;

}

html {
  scroll-behavior: smooth;
}

h1, h2 {
  font-family: 'Poiret One', sans-serif;
  // background-color: black;
  text-transform: uppercase;
  text-align: center;
}
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

header, footer {
  background-color: black;
}


// ***** PARALLAX *******



.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 50vh;
  display: flex;
}

.parallax {
  // display: flex;
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  background-image: url('./assets/mandel-01.jpg');
}

.mandelbrot-02 {
  background-image: url('./assets/mandel-02.jpg');
  max-height: 60vh;
}
.mandelbrot-03 {
  background-image: url('./assets/mandel-03.jpg');
}
.mandelbrot-04 {
  background-image: url('./assets/mandel-04.jpeg');
}





// ========== TEXT

article, .name {
  // border: 2px solid white;
  background-color: rgba(0,0,0,0.6);
  // max-height: 300px;
  max-width: 700px;
  margin: 20px auto;
  align-items: center;
  padding: 100px;
  // position: relative;
}

// .about {
//
//   & article {
//     // border: 2px solid white;
//     background-color: rgba(0,0,0,0.6);
//     // max-height: 300px;
//     max-width: 700px;
//     margin: auto;
//     align-items: center;
//     padding: 100px;
//   }
// }
