$primary: #fff;
* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  outline: none;
}
body,html {
  margin: 0;
  padding: 0;
  color: $primary;
  background-color: black;
  // background: linear-gradient(70deg, white, #F69100, #1E2092, #000);
  text-align: center;


}

html {
  scroll-behavior: smooth;
}

h1, h2 {
  font-family: 'Poiret One', sans-serif;
  // background-color: black;
  text-transform: uppercase;
  text-align: center;
}
h1 {
  font-size: 2rem
}

h2 {
  font-size: 1.7rem;
}

header, footer {
  background-color: black;
}

a {
  text-decoration: none;
  color: $primary;
  &:hover {
    color: rgba(139, 206, 241, 0.9);
    font-size: 1.05em;
  }
}


// ***** PARALLAX *******



.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 1000px;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}


.parallax {
  // display: flex;
  /* Full height */
  height: 75vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  background-image: url('./assets/mandel-01.jpg');
  height: 100vh;
}

.mandelbrot-02 {
  background-image: url('./assets/mandel-02.jpg');
  max-height: 75vh;
}
.mandelbrot-03 {
  background-image: url('./assets/mandel-03.jpg');
}
.mandelbrot-04 {
  background-image: url('./assets/mandel-04.jpeg');
  height: 95vh;
}

section {
  display: flex;
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 50%;
    // @media screen and (max-height: 700px) {
    //   min-height: 50%;
    // }

}

article, .name {
  // border: 2px solid white;
  background-color: rgba(0,0,0,0.6);
  // max-height: 300px;
  max-width: 700px;
  margin: auto auto;
  padding: 100px;
  @media screen and (max-width: 700px) {
    padding: 10px;
  }
  // justify-content: center;
}

.name {
  max-height: 400px;
  @media screen and (max-width: 500px) {
     height: 80vh;
  }
}

.about {
  article {
    display: flex-wrap;
    h1 {
      flex-grow: 1;
    }
    .photo-text {
      display: flex;
      @media screen and (max-width: 700px) {
        display: block;
      }
      img {
        max-height: 100px;
        max-width: 100px;
        border-radius: 100%;
        margin: 10 5px;
      }
      p {
        flex-grow: 0.5;
        margin: 10px;
      }
    }
  }
}
