$primary: rgba(139, 206, 241, 0.9);
$secondary: rgba(44, 156, 216, 0.9);
$blackground: rgb(15, 17, 27);

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: $blackground;
  // background: linear-gradient(70deg, white, #f69100, #1e2092, #000);
  text-align: center;
  line-height: 1.3em;
}

h1,
h2 {
  font-family: 'Poiret One', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

footer {
  background-color: $blackground;
  gap: 20px;
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headshots {
  max-width: 800px;
}

a {
  text-decoration: none;
  color: $primary;
  &:hover {
    color: $secondary;
  }
}

ul {
  text-align: left;
}

li,
.tiny {
  font-size: 0.9em;
  line-height: 1.6em;
}

// ***** PARALLAX *******

main {
  /* The height needs to be set to a fixed value for the effect to work.
   * use 100vh -- the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.parallax {
  // display: flex;
  /* Full height */
  height: 75vh;

  /* parallax scrolling effect, do not change */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  background-image: url('./assets/mandel-01.jpg');
  height: 100vh;
}

.mandelbrot-02 {
  background-image: url('./assets/mandel-02.jpg');
  max-height: 75vh;
}
.mandelbrot-03 {
  background-image: url('./assets/mandel-03.jpg');
}
.mandelbrot-04 {
  background-image: url('./assets/mandel-04.jpeg');
  height: 305vh;
}
.half-height {
  height: 50vh;
}

section {
  display: flex;
  /* Children need be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container must be set */
  // height: 50%;
  justify-content: center;
  align-items: center;
}

article {
  max-width: 700px;
  justify-content: center;
}
.black-box {
  // border: 2px solid blue;
  background-color: rgba($color: $blackground, $alpha: 0.6);
  max-width: 700px;
  padding: 25px;
  // @media screen and (max-width: 750px) {
  //   padding: 10px;
  //   min-height: fit-content;
  // }
}

.padded-room {
  // border: 2px dashed orange;
  padding: 100px;
  // max-height: 400px;
  @media screen and (max-width: 750px) {
    // max-height: 90vh;
    // max-height: 100vh;
    display: block;
  }
}

.about {
  article {
    display: flex-wrap;
    h1 {
      flex-grow: 1;
    }
    .side-by-side {
      display: flex;
      padding-bottom: 2rem;
      @media screen and (max-width: 700px) {
        display: block;
      }

      p {
        margin: 10px;
        text-align: left;
      }

      .left {
        // flex-grow: 0.6;

        .container {
          position: relative;
          display: block;
          margin: 50% 1.5rem;
          height: 150px;
          width: 150px;
          @media screen and (max-width: 700px) {
            margin: 25%;
          }
        }

        img {
          width: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
        .circular {
          border-radius: 100%;
        }

        .cisticola {
          // z-index: 2;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0.001;
          transition: 0.5s ease;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
